<!-- PRIMARY AUTHOR: Rich Przekop -->

<% include ../partials/_header.ejs %>

<div class ="container">
  <div id="main-container">
    <h1>College Bazaar communities </h1>
		<h3><%= message %></h3>
		<br>
		<a href="/">back home</a>
  </div>
</div>
</body>

<% include ../partials/_footer.ejs %>

