<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<p>Hello, <%= user %>!</p>
		<p>You have requested access to the community <%= community %>. Please visit this URL to verify your email:<br>
		<br>
		<%= verifyURL %>
		</p>
		<p>	- The College Bazaar Administrator</p>
	</body>
</html>

