<!-- PRIMARY AUTHOR: Noel Sequeira, Trevor Walker -->
<!DOCTYPE html>

<% include ../partials/_header.ejs %>

<%if(locals.err) {%>
<div class="alert alert-danger" role="alert"><%=err%></div>
<% } %>


<div class="login-screen">
  <div class ="container">
    <div id="main-container">
      <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">
          <h3 style="text-align: center;">Sign Up for College Bazaar</h3>
          <form class="login-form" action="/users/" method="POST">
            <div class="form-group">
              <input type="text" name="name" class="form-control login-field" value="" placeholder="Enter your name" id="login-name" autocomplete="off" >
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>
            <div class="form-group">
              <input type="text" name="email" class="form-control login-field" value="" placeholder="Enter your email" id="login-email" autocomplete="off" >
              <label class="login-field-icon fui-mail" for="login-name"></label>
            </div>
            <div class="form-group">
              <input type="password" name="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" autocomplete="off" >
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" href="#" value="Sign Up">
            <a class="login-link" href="/users/login" style="font-size: 20px; color: #2980b9">Already have an account? Log in.</a>
          </form>
        </div>

        <div class="col-md-2"></div>

      </div>
    </div>
  </div>
</div>

<% include ../partials/_footer.ejs %>
